body{
    margin: 0px;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
}

.main{
    margin-top: 50px;
    width: 700px;
}


#page-heading{
    text-align: center;
    margin-top: 25px;
    color: rgb(71, 70, 70);
}

.list-group-item{
    width: 400px;
    height: 40px;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 20px;
    font-family:monospace;
    color: whitesmoke;
}

.t-center{
    margin-top: 6%;
}
